[global]
module  = CMSSW_Advanced
; change to your working directory

workdir = /nfs/dust/cms/user/rasp/grid-jobs/gc_Data80X_AOD.config
backend = local

[storage]
se input timeout  = 6:00
se output timeout = 6:00
se output files   = output.root
se output pattern = @NICK@/@NICK@_@MY_JOBID@.root
se path           = 
;  change to the directory where plain ntuples will be stored
         /nfs/dust/cms/user/rasp/ntuples/Run2016B_AOD

[local]
submit options = 
	site => hh
	os => sld6
;	h_rt => 167:59:00
	h_rt => 5:59:00	
	h_vmem => 4000M

proxy = VomsProxy

[jobs]
;wall time = 167:59:00
wall time = 5:59:00
in flight = 20000
monitor = dashboard
shuffle = true
;queue timeout = 119:59:00
queue timeout = 5:59:00
memory = 4000
dataset provider = DBS3Provider

[dataset]
resync interactive = False
dataset provider  = DBS3Provider

[grid]
sites      = -samtests -group_admin -monitor -lcgadmin -cern -roma1.infn.it
dataset provider  = DBS3Provider

[glite-wms]
config        = docs/glite_wms_CERN.conf
use delegate  = False
dataset provider  = DBS3Provider

[CMSSW_Advanced]
depends=gLite
dataset provider  = DBS3Provider
dataset splitter = EventBoundarySplitter
;HybridSplitter


project area = ../../../..
se runtime         = True
events per job     = 100000

dataset            =

;	 DoubleMuon_Run2016B_PromptReco_v1 :  /DoubleMuon/Run2016B-PromptReco-v1/MINIAOD
;	 SingleMuon_Run2016B_PromptReco_v1 :  /SingleMuon/Run2016B-PromptReco-v1/MINIAOD
;	 DoubleEG_Run2016B_PromptReco_v1 :  /DoubleEG/Run2016B-PromptReco-v1/MINIAOD
;	 SingleElectron_Run2016B_PromptReco_v1 :  /SingleElectron/Run2016B-PromptReco-v1/MINIAOD
;	 MuonEG_Run2016B_PromptReco_v1 :  /MuonEG/Run2016B-PromptReco-v1/MINIAOD
;	 JetHT_Run2016B_PromptReco_v1 :	 /JetHT/Run2016B-PromptReco-v1/MINIAOD
;	 MET_Run2016B_PromptReco_v1 : /MET/Run2016B-PromptReco-v1/MINIAOD

;	 DoubleMuon_Run2016B_PromptReco_v2 :  /DoubleMuon/Run2016B-PromptReco-v2/MINIAOD
;	 SingleMuon_Run2016B_PromptReco_v2 :  /SingleMuon/Run2016B-PromptReco-v2/MINIAOD
;	 DoubleEG_Run2016B_PromptReco_v2 :  /DoubleEG/Run2016B-PromptReco-v2/MINIAOD
;	 SingleElectron_Run2016B_PromptReco_v2 :  /SingleElectron/Run2016B-PromptReco-v2/MINIAOD
;	 MuonEG_Run2016B_PromptReco_v2 :  /MuonEG/Run2016B-PromptReco-v2/MINIAOD
         JetHT_Run2016B_PromptReco_v2 :  /JetHT/Run2016B-PromptReco-v2/AOD

nickname source    = nickProducer.signalNicks

nickname config    = TreeProducerFromAOD_80x_Run2016B.py
	 
;nickname constants = SKIM 

;SKIM = 1
;	DYJetsToLL => 0
;	WJetsToLNu => 0


